<div class="about">
    <img src="/img/Desk.jpeg" alt="imgem" class="img-about">
    <nav class="nav-about">
        <h1>About</h1>
        <p>Este é um aplicativo de comentários simples desenvolvido com Node.js e Express. Ele permite que os usuários criem, visualizem e gerenciem comentários.</p>
        <p>O aplicativo usa o Handlebars como mecanismo de criação de modelos e fornece uma interface amigável para interagir com comentários.</p>
        <p>Sinta-se à vontade para explorar o código e personalizá-lo ao seu gosto!</p>
    </nav>
</div>